#card-validate {
  height: 30px;
  width: 250px;
  background-color: green;
  color: white;
}

#card-input {
  height:25px;
  width: 250px;
  margin-right: 5px;
}

.payment-system-logo {
  margin-bottom: 40px;
  padding-top: 20px;
}

.disabled {
  filter: grayscale(100%);
}

.payment-system {
  float: left;
  margin-right: 10px;
}

div[id="error"] {
  color: red;
}

div[id="mir"] {
  color: red;
}
